body{ margin: 0; padding: 0;}
header{ z-index: 0; position: fixed; display: inline-flex;  width: 100%; height: 100px; background-image: linear-gradient(to right, #008000 0%,#008000 37% , #ffffff 90%, #ffffff 100%);}
#logo{ z-index: 2; background-image: url(../src/logo.png); background-size: cover; height: 90%; width: 7%; position: absolute; left: 90%; top: 6%; }
#btn-wtp{position: fixed;cursor: pointer; bottom: 0%; right: 0%;margin: 1%; height: 60px; width:60px ; border-radius: 50%; background-image:  url(../src/whatsapp.png);background-position: center; background-repeat: no-repeat; background-size: cover; }
footer{position: fixed; bottom: 0%; left: 0%;margin-left: 1%;}
main{ padding-bottom: 10%;min-width:500px;padding-left: 7%; padding-right: 7%;}
.hamburger-button {display: flex;flex-direction: column;justify-content: center;align-items: center;width: 40px; height: 30px; background-color: transparent;border: none;cursor: pointer;padding: 0; position: absolute; top: 30%; left: 4%;}
.hamburger-line { width: 30px;height: 2px;background-color: #ffffff;margin: 3px;transition: all 0.3s; }
.hamburger-button.active .hamburger-line:nth-child(1) {transform: rotate(45deg) translate(4px, 4px);}
.hamburger-button.active .hamburger-line:nth-child(2) {opacity: 0;}
.hamburger-button.active .hamburger-line:nth-child(3) {transform: rotate(-45deg) translate(4px, -4px);}
.menu {display: none; }
.hamburger-button.active + .menu {display: block;}  
.menu {position: absolute;top: 100%;background-image: linear-gradient(to right, #008000 0%,#008000 50% , #ffffff 100%); padding: 1%;  height: 40vh; width: 25vw;}
#portada{top: 100%;  padding-bottom: 7%; width: 100vw;}
#portada img{ background-size: cover; width: 100vw;}
 a{color: #ffffff; text-decoration: none; }
 li{margin-bottom: 4%;}






@media screen and  (max-width:990px)  {
    #btn-wtp{height: 9vh; width:17vw; margin: 2%; position: fixed; padding-top: 1%;}  
    footer{ bottom: 0%; left: 0%;margin-left: 1%;padding-top: 5%;}
    header{position: fixed; display:flex; top: 0;  z-index: 1; height:17vh;  background-image: linear-gradient(to right, #008000 0%,#008000 37% , #ffffff 70%,#ffffff 100%);}
    #logo{ background-image: url(../src/logo.png); background-size: cover; height: 70%; width:17%;left: 80%;  }
    .hamburger-button{  flex-direction: column; align-items: center; left: 4%; height: 50px; cursor: pointer; padding: 0; width:50px;top: 35%;  }
    .line{width: 40px; height: 4px; background-color: #000; margin: 4px; transition: all 0.3s;}
    .menu {position: absolute;top: 100%; background-image: linear-gradient(to right, #008000 0%,#008000 37% ,#ffffff 100%); height: 50vh; width: 70vw; }
    li{height: 60px; font-size: 20px;}
    #portada {  left: 17%; z-index: 0; width: 100vw;  position: relative; top:17vh;}
    section{ margin-top: 25%; display:block; }
    li a{font-size: 1.3em; ; margin-bottom: 2%; color: #ffffff; text-decoration: none;}
} 